.header {
    height: 80px;
    background: var(--app-primary-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between; /* Asegura separación */
}

.title {
    color: var(--title-text-color);
    font-size: 1.5rem;
    margin: 0;
}