.header {
    height: 80px;
    background: var(--app-primary-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

/* Estilos para la imagen */
.logo {
    height: 40px;      /* ajusta a tu gusto */
    object-fit: contain;
}
