<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" />
    <link rel="stylesheet" th:href="@{/styles/index.css}" />
</head>
<body>
<div class="container">
    <div class="loginBox">
        <div class="left">
            <h1 class="title">Sign Up</h1>
            <form th:action="@{/register}" method="post" class="form">
                <p class="registerText">
                    Create a new account or <a th:href="@{/login}" class="link">click here</a> to login.
                </p>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="formMain">
                    <div class="inputGroup">
                        <input class="input"
                               type="text"
                               name="username"
                               placeholder="Username"
                               required
                               th:value="${param.username}" />
                    </div>
                    <div class="inputGroup">
                        <input class="input"
                               type="email"
                               name="email"
                               placeholder="Email"
                               required
                               th:value="${param.email}" />
                    </div>
                    <div class="inputGroup">
                        <input class="input"
                               type="password"
                               name="password"
                               placeholder="Password"
                               required />
                    </div>
                    <div class="inputGroup">
                        <input class="input"
                               type="password"
                               name="confirmPassword"
                               placeholder="Confirm Password"
                               required />
                    </div>
                </div>

                <div class="formMain">
                    <button type="submit" class="button">Sign Up</button>
                </div>
            </form>
        </div>
        <!-- Success Message -->
        <div th:if="${message}" class="toast toast-success">
            <p th:text="${message}"></p>
        </div>

        <!-- Error Message -->
        <div th:if="${error}" class="toast toast-error">
            <p th:text="${error}"></p>
        </div>

        <div class="right"></div>
    </div>
</div>
</body>
</html>
