:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --primary-color: #141414;
    --secondary-color: #2D2D2D;
    --highlight-color: #818181;
    --highlight-secondary-color: #00A8D2;
    --text-color: #dddddd;

    --color-gray-light: #7A7A7A;
    --color-gray-medium: #666666;
    --color-gray-muted: #aaaaaa;

    --color-red: #df544b;
    --color-red-soft: #fbb8b0;

    --color-green-aquamarine: #7fffd4;
    --color-blue-pastel: #8ab4ca;

    --color-yellow-pastel: #edd785;
    --color-yellow-pastel-soft: #e8d9a9;

    --color-shadow: rgba(0, 0, 0, 0.3);
}