:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --primary-color: #141414;
    --secondary-color: #2D2D2D;
    --thirty-color: #272727;
    --fourth-color: #dddddd;
    --highlight-zero-color: #ebcecb;
    --highlight-primary-color: var(--color-red-soft);
    --highlight-secondary-color: #ea9c92;
    --highlight-thirty-color: #e88b7e;
    --highlight-fourth-color: #c66559;
    --highlight-fifth-color: #472b2b;
    --highlight-auxiliar-color: var(--color-blue-pastel);

    --color-gray-main: #1e1e1e;
    --color-gray-secondary: #181818;
    --color-gray-thirty: #404040;
    --color-gray-light: #7A7A7A;
    --color-gray-lighter: #cfcfcf;
    --color-gray-medium: #666666;
    --color-gray-muted: #aaaaaa;

    --color-red: #db544b;
    --color-red-soft: #f1b5ae;

    --color-green-aquamarine: #7fffd4;
    --color-blue-pastel: #8ab4ca;

    --color-yellow-pastel: #ead375;
    --color-yellow-pastel-soft: #e8d9a9;

    --color-purple-pastel: #c6a4d4;
    --color-purple-soft: #e2d1ec;

    --color-pink-pastel: #f4a5c0;
    --color-pink-soft: #f8cadb;

    --color-orange-pastel: #f5b97f;
    --color-orange-soft: #fbd9ba;

    --color-cyan-pastel: #a2e4f2;
    --color-cyan-soft: #c9eff7;

    --color-lime-pastel: #c4f29b;
    --color-lime-soft: #def7c8;

    --color-indigo-pastel: #9aa4f2;
    --color-indigo-soft: #c3c9f9;

    --color-beige-pastel: #f2e0c9;
    --color-beige-soft: #f7eee1;


    --primary-color-shadow: 0px -2px 20px 0px #000c;
    --secondary-color-shadow: rgba(0, 0, 0, 0.3);
    --thirty-color-shadow: 0 1px 2px 0 #0004;
    --fourth-color-shadow: 0 1px 4px 0 #0006;
    --fifth-color-shadow: 0px -2px 20px 0px #000c;
    --sixth-color-shadow: 0 8px 22px 0 #000e;
    --seventh-color-shadow:  0 1px 2px #0003;
}