:root {
    --color-white: #ffffff;
    --color-gray-light: #7A7A7A;
    --color-gray-medium: #666666;
    --color-gray-muted: #aaaaaa;
    --color-gray-muted-link: #aaaaff;

    --color-blue-dark-1: #0b0c45;
    --color-blue-dark-2: #011173;
    --color-blue-main: #4433cc;
    --color-blue-button: #5c4dde;
    --color-blue-button-hover: #4433cc;

    --color-red: #df544b;
    --color-red-soft: #fbb8b0;

    --color-green-aquamarine: #7fffd4;
    --color-blue-pastel: #8ab4ca;

    --color-yellow-pastel: #edd785;
    --color-yellow-pastel-soft: #e8d9a9;

    --color-shadow: rgba(0, 0, 0, 0.3);
}
